.cart-dev {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: white;
  background-color: #d70f64;
  border-radius: 10px;
  font-size: 18px;
}
.cart-dev img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 70px;
  margin-right: 5px;
}
